[submodule "themes/pixyll"]
	path = themes/pixyll
	url = https://github.com/little-dude/hugo-theme-pixyll
[submodule "rmp-rpc-book"]
	path = rmp-rpc-book
	url = https://github.com/little-dude/rmp-rpc-book-build
